.custom-keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 300px;
    margin: 20px auto;
}

.custom-keypad button {
    background-color: #3b3b54;
    color: white;
    font-size: 22px;
    padding: 15px;
    margin: 0;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #555;
    transition: 0.1s;
}

.custom-keypad button:active {
    background-color: #52527a;
}

/* تمييز الخانة النشطة حالياً */
input.active-field {
    border: 2px solid #ffc107 !important;
}
